body{
	font-family: 'Open Sans', sans-serif;
	background: url(images/background.png) repeat;
}
.border-bottom{
	box-shadow: 0 5px 0 #fff;
}
.margin-left{
	margin-left: 15px;
}
#navigation{
	background: #fff;
}
#navigation img{
	height: 80%;
	margin: 2px;
}
.menu-height{
	height: 30px;
}
.pointer{
	cursor: pointer;
}
.login{
	background: #363636;
	height: 160px;
	border-top: 5px solid #e43f3f;
}
.login-text{
	height: 30px;
	background: #fff;
	margin: 65px 0;
	font-weight: bold;
	line-height: 2;
}
.friends{
	background: #fff;
	border-left: 1px solid #d8d8d8;
	float: right;
	padding: 20px 0 10px 0;
	position: absolute;
	z-index: 100;
	display: none;
}
.friends-search-img{
	width: 30px;
	height: 30px;
	margin-top: 10px; 
	background: #d8d8d8;
	display: inline-block;
	list-style: none;
}
#userSearch{
	font-style: italic;
	font-weight: lighter;
}
.friends-header{
	font-size: 12px;
	font-style: italic;
	margin: 10px 0 0 0;
	border-bottom: 1px solid #d8d8d8; 
}
.friends-list{
	margin: 5px 0 0 0;
}
.friends-list li{
	font-size: 12px;
	font-style: italic;
	margin: 5px 0 0 0;
	list-style-position: inside;
	list-style-image: url(#);
	cursor: pointer;
}
.friends-list li:hover{
	background: #d8d8d8;
	color: #fff;
}
.friends-list li img{
	width: 30px;
}
.friends-active img{
	border: 2px solid #1182f5;
	list-style-image: url(#);
}
.social{
	height: 30px;
	border-top: 3px solid #e43f3f;
	border-bottom: 1px solid #d8d8d8;
}
.social-list-group{
	height: 27px;
}
.social-list{
	display: inline-block;
	position: absolute;
}
.social-list:nth-child(1){
	margin-left: 33%;
}
.social-list:nth-child(2){
	margin-left: 40%;
}
.social-list:nth-child(3){
	margin-left: 47%;
}
li.social-list img{
	width: 20px;
 	margin: 2px 0 0 0;
}
.main{
	background: #fff;
	margin-top: 15px;
	border-top: 3px solid #e43f3f;
	border-left: 1px solid #d8d8d8;
	border-right: 1px solid #d8d8d8;
}
.main-left h6{
	font-weight: bold;
}
.main-left h6 img{
	width: 20px;
	margin: 0 5px 0 3px;
}
.game-image{
	width: 200px;
}
.game-image-hover{
	width: 200px;
	height: 201px;
	position: absolute;
	z-index: 10;
	background: rgba(250, 250, 250, 0.9); 
}
.main-left p{
	font-size: 12px;
	font-weight: 600;
	padding: 3px;
	border-bottom: 1px solid #d8d8d8; 
}
.tournament-border{
	border-left: 3px solid #e43f3f; 
}
.ladder-border{
	border-left: 3px solid #f4cb1e; 
}
.decoration-bar{
	display: none;
	width: 10px;
	margin: 40px 0 0 15px;
}
.tournament-wrapper .decoration-bar{
	background: #e43f3f;
}
.ladder-wrapper .decoration-bar{
	background: #f4cb1e;
}
.match-header{
	color: #fff;
	font-weight: bold;
	font-style: italic;
	padding: 15px 0;
	margin: 0;
}
.match-header-background{
	background: #363636;
	margin: 0 0 0 15px;
}
.match-wrapper{
	background: #f4f4f4;
	padding: 0;
	margin: 0 0 0 15px;
	cursor: pointer;
}
.match-wrapper:hover{
	background: #d8d8d8;
}
.match{
	display: inline-block;
	padding: 5px 0;	
}
.match-team{
	margin: 0 0 0 -15px;
	font-style: italic;
}
.match-team img{
	margin: 0 5px 0 0;
	border: 2px solid #363636;
}
.match-score{
	float: right;
	margin: 7px 0 0 0;
	font-family: Arial;
	font-weight: bold;
	font-size: 14px;
}
.match-winner{
	color: #e43f3f;
}
.match-winner img{
	border: 2px solid #e43f3f;
}
.match-info{
	font-style: italic;
	font-weight: lighter;
	margin: 30px 0 5px 15px;
	border-bottom: 1px solid #d8d8d8;
	padding: 0 0 5px 0; 
}
.match-info img{
	float: right;
	width: 20px;
	margin: 0 28px 0 0;
}
.match-show-more{
	padding: 20px 0;
	color: #363636;
}
@media screen and (min-width: 480px){
	.match-info img{
		margin: 0 53px 0 0;
	}
}
@media screen and (min-width: 640px){
	.match-info img{
		margin: 0 85px 0 0;
	}
	.social-list:nth-child(1){
		margin-left: 40%;
	}
	.social-list:nth-child(2){
		margin-left: 45%;
	}
	.social-list:nth-child(3){
		margin-left: 50%;
	}
}
@media screen and (min-width: 768px){
	.decoration-bar{
		display: inline-block;
	}
	.match-info img{	
		margin: 0 105px 0 0;
	}
	.game-image{
		width: 150px;
	}
	.game-image-hover{
		width: 150px;
		height: 151px;
	}
}
@media screen and (min-width: 990px){
	.friends{
		margin: 0 0 0 808px;
	}
	.main-left h6 img{
		width: 15px;
	}
	.decoration-bar{
		margin: 35px 0 0 15px;
	}
	.social{
		margin-top: 0;
	}
	.social-list{
		position: relative;
	}
	.social-list:nth-child(1){
		margin-left: 0;
	}
	.social-list:nth-child(2){
		margin-left: 0;
	}
	.social-list:nth-child(3){
		margin-left: 0;
	}
}
@media screen and (min-width: 1024px){
	.match-info{
		font-size: 12px;
	}
	.match-info img{
		margin: 0 15px 0 0;
	}
	.main-left h6{
		font-size: 10px;
	}
	.main-left h6 img{
		margin: 0 5px 0 3px;
	}
	.main-right{
		position: absolute;
		margin: 0 0 0 0;
	}
	.login-text{
		margin: 60px 0 0 0;
	}
	.friends{
		padding: 0 0 10px 0;
		margin: 0 0 0 808px;
	}

}
@media screen and (min-width: 1200px){
	.friends{
		margin: 0 0 0 975px;
	}
	.game-image{
		width: 200px;
	}
	.game-image-hover{
		width: 200px;
		height: 201px;
	}
}
@media screen and (min-width: 1280px){
	.match-info{
		font-size: 14px;
	}
	.match-info img{
		margin: 0 25px 0 0;
	}
	.main-left h6{
		font-size: 12px;
	}
	.main-left h6 img{
		width: 20px;
		margin: 0 5px 0 3px;
	}
	.decoration-bar{
		margin: 40px 0 0 15px;
	}
	
}