.main-inner-wrapper{
	padding-bottom: 0;
}
.main-left h6{
	font-weight: bold;
}
.main-left h6 img{
	width: 20px;
	margin: 0 5px 0 3px;
}
.game-image{
	width: 200px;
}
.game-image-hover{
	width: 200px;
	height: 201px;
	position: absolute;
	z-index: 10;
	background: rgba(250, 250, 250, 0.9); 
}
.game-hover-players{
	font-size: 12px;
	font-weight: bold;
	margin: 20px 0 0 0;
}
.game-hover-info{
	font-size: 14px;
	font-weight: bold;
	margin: 20px 0 0 0;
}
.game-hover-fee{
	font-size: 24px;
	font-weight: bold;
	color: #e43f3f;
	margin: 20px 0 0 0; 
}
.game-name{
	width: 197px;
	font-size: 12px;
	font-weight: 600;
	padding: 3px;
	border-bottom: 1px solid #d8d8d8; 
}
.tournament-border{
	border-left: 3px solid #e43f3f; 
}
.ladder-border{
	border-left: 3px solid #f4cb1e; 
}
.decoration-bar{
	display: none;
}
.main-right{
	padding: 0;
}
.main-right ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.main-right ul li{
	display: none;
}
.match-header{
	color: #fff;
	font-weight: bold;
	font-style: italic;
	padding: 15px 0;
	margin: 0;
}
.match-header-background{
	background: #363636;
}
.match-wrapper{
	background: #f4f4f4;
	padding: 0;
	margin: 5px 0 0 0;
	cursor: pointer;
}
.match-wrapper:hover{
	background: #d8d8d8;
}
.match{
	display: inline-block;
	padding: 5px 0;
}
.match-team{
	padding: 0;
	font-style: italic;
}
.match-team img{
	margin: 0 5px 0 0;
	border: 2px solid #363636;
}
.match-score{
	float: right;
	margin: 7px 0 0 0;
	font-family: Arial;
	font-weight: bold;
	font-size: 14px;
}
.match-winner{
	color: #e43f3f;
}
.match-winner img{
	border: 2px solid #e43f3f;
}
.match-info-wrapper{
	padding: 45px 0 0 0;
	border-bottom: 1px solid #d8d8d8;
}
.match-info{
	font-style: italic;
	font-weight: lighter;
	padding: 0 0 5px 0; 
}
.match-info-img img{
	width: 20px;
	margin-left: -5px;
}
a.match-show-more{
	height: 20px;
	padding-top: 15px;
	padding-bottom: 50px; 
	color: #363636;
	text-decoration: none;
}
a.match-show-more:hover{
	color: #d8d8d8;
}
@media screen and (min-width: 640px){
	.match-info img{
		margin: 0 85px 0 0;
	}
}
@media screen and (min-width: 768px){
	.decoration-bar{
		display: inline-block;
		margin: 40px 0 0 0;
		padding: 0;
	}
	.decoration-bar img{
		height: 150px;
		float: right;
	}
	.match-info img{	
		margin: 0 105px 0 0;
	}
	.game-image{
		width: 150px;
	}
	.game-image-hover{
		width: 150px;
		height: 151px;
	}
	.game-hover-players{
		margin: 10px 0 0 0;
		font-size: 10px;
	}
	.game-hover-info{
		margin: 10px 0 0 0;
		font-size: 12px;
	}
	.game-hover-fee{
		margin: 10px 0 0 0;
		font-size: 20px; 
	}
	.game-name{
	width: 147px;
	}
}
@media screen and (min-width: 990px){
	.main-left h6 img{
		width: 15px;
	}
	.decoration-bar{
		margin: 35px 0 0 0;
	}
	.main-right-wrapper{
		border-left: 1px solid #d8d8d8;
	}
}
@media screen and (min-width: 1024px){
	.match-info{
		font-size: 12px;
	}
	.main-left h6{
		font-size: 10px;
	}
	.main-left h6 img{
		margin: 0 5px 0 3px;
	}
}
@media screen and (min-width: 1200px){
	.game-image{
		width: 200px;
	}
	.game-image-hover{
		width: 200px;
		height: 201px;
	}
	.game-hover-players{
		margin: 20px 0 0 0;
	}
	.game-hover-info{
		margin: 20px 0 0 0;
	}
	.game-hover-fee{
		margin: 20px 0 0 0; 
	}
	.game-name{
		width: 197px;
	}
	.decoration-bar img{
		height: 200px;
	}
}
@media screen and (min-width: 1280px){
	.match-info{
		font-size: 14px;
	}
	.main-left h6{
		font-size: 12px;
	}
	.main-left h6 img{
		width: 20px;
		margin: 0 5px 0 3px;
	}
	.decoration-bar{
		margin: 40px 0 0 0;
	}
}